.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  z-index: 1000;
}

.social-icons a img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  vertical-align: middle;
}

.site-content {
  margin-top: 60px; /* pushes content down so it's not hidden behind the header */
}
